@CHARSET "UTF-8";

.menu{
	border-top-style: solid;
	border-top-color: #7F0B0C;
	border-bottom-style: solid;
	border-bottom-color: #7F0B0C;
	border-top-width: 1.5px;
	border-bottom-width: 0.8px;
	border-right-style: none;
	border-left-style: none;
}
table {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.content{
	border-top-style: solid;
	border-top-color: #7F0B0C;
	border-bottom-style: solid;
	border-bottom-color: #7F0B0C;
	border-top-width: 0.5px;
	border-bottom-width: 0.5px;
	border-right-style: none;
	border-left-style: none;
}