@charset "utf-8";
.wrap {
   width: 1200px;
   margin-right: auto;
   margin-left: auto;
   height: 100%;
}
hr {
   color: #000;
   font-size: 10px;
   font-weight: bold;
   background-color: #000;
}

.page_header {
   height: 116px;
   width: 1200px;
   margin-right: auto;
   margin-left: auto;
   
}.cartcenter {
   height: 100%;
   width: 1200px;
   margin-right: auto;
   float: left;
   margin-left: auto;
}
.title {
   height: 50px;
   width: 1200px;
   font-size: 45px;
   color: #810B0C;
   text-align: center;
   font-weight: bold;
   margin-top: 50px;
}
.tableF {
   height: 500px;
   width: 1200px;
   margin-right: auto;
   margin-left: auto;
}
.tableF2 {
   height: 500px;
   width: 1200px;
   margin-right: auto;
   margin-left: auto;
}
#table1 {
   border-top-width: 3px;
   border-bottom-width: 3px;
   border-right-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-top-color: #810B0C;
   border-bottom-color: #810B0C;
   margin-right: auto;
   margin-left: auto;
}
.click_buy {
   float: right;
   font-size: 36px;
      color: #FFF;
}
.content #chk {
   opacity: 0;
   outline: 0;
   -webkit-appearance: none;
   background-color: #CCCCCC;
}
.content #chk_Lb {
   background: url(../img/ico_check_off_2x.gif) 100% 50% no-repeat;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px
}
#select {
   color: #FFF;
   background-color: #810B0C;
   border: 1px solid #000;
}
#all {
   color: #FFF;
   background-color: #810B0C;
   border: 1px solid #000;
}