@charset "utf-8";

.item {
	float: left;
	height: 370px;
	width: 250px;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 0px;
}
.watchName{
	color: #555;
	border-top-style: solid;
	border-top-width: 1.1px;
	border-top-color: #810B0C;
	font-size: 18px;
	text-align: center;
	padding-top:10px;
}
.price{
	color: #810B0C;
	border-top-style: none;
	font-size: 14px;
	text-align:center;
	padding-top:10px;
}
table {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width:250px;
}
#orderbyList {
	float: right;
	height: 20px;
	width: 630px;
	margin-top: 20px;
	margin-right: 90px;
	text-align: right;
}
.select {
	clear: both;
	float: left;
	height: auto;
	width: 1200px;
	margin-top:40px;
	padding-left:140px;
}
.watchImage{
	height:250px;
}

form{display:inline}

.btn_submit{
 background-image: url('images/search3.png');
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: 0px;
 	cursor:pointer;
 	outline: 0;
}